@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40, 10%, 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply snap-mandatory snap-y scroll-pt-16;
  }
  body {
    @apply bg-background text-foreground font-Bai-Jamjuree;
  }
  section {
    @apply snap-start;
  }
}

.nav-item {
  @apply transition duration-300 ease-in-out border-b-2 border-transparent text-foreground text-xl font-semibold hover:text-success hover:border-foreground dark:hover:text-primary;
}

.selected-nav-item {
  @apply text-success text-xl font-bold border-b-2 border-foreground dark:text-primary;
}

.nav-menu-item {
  @apply transition duration-300 ease-in-out font-semibold text-2xl text-foreground border-b-2 border-transparent hover:border-foreground hover:text-success dark:hover:text-primary;
}

.selected-menu-item {
  @apply font-bold border-b-2 border-foreground text-2xl text-success dark:text-primary;
}

.lang-menu-trigger {
  @apply flex items-center text-xl text-foreground font-semibold transition duration-300 ease-in-out hover:text-success dark:hover:text-primary focus:text-success dark:focus:text-primary;
}
